@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
      sans-serif;
    font-size: 20px;
  }
  h1 {
    color: rgb(17, 17, 17);
    background-color: lightblue;
    font-size: 1.5em;
  }

  h2 {
    color: rgb(21, 23, 21);
    font-size: 1.2em;
  }

  p {
    text-align: justify;
    font-size: 1.0em;
  }