@charset "utf-8";

@font-face {
  font-family: 'android';
  src: url('fontes/idroid.otf') format('opentype');
}

body {
  background-color: #83e1ad;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  background-image: linear-gradient(to top, #063d1e, #3ddc84);
  color: white;
  padding: 10px;
}

section {
  padding: 10px;
}

header h1 {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header p {
  text-align: center;
  color: rgba(255, 255, 255, 0.671);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}

nav a:hover {
  background-color: #16693d;
  color: #063d1e;
}

.nav-bar {
  list-style: none;
  display: flex;
}

.nav-bar .nav-item {
  margin-right: 20px;
}

.nav-bar .nav-link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

main {
  background-color: white;
  margin: auto;
  width: 700px;
}

section > img {
  width: 100%;
}

.imagem-dan-droids {
  text-align: center;
}

aside > p {
  text-indent: 20px;
  text-align: justify;
}

#historia > h1 {
  font-family: 'android';
  color: #16693d;
}

article > p {
  text-align: justify;
  text-indent: 20px;
}

#assunto > h2 {
  font-family: 'android';
  color: #16693d;
  background-image: linear-gradient(to right, #c5ebd6, #97f0c00b);
}

.links {
  color: #063d1e;
  background-color: #3ddc84;
  font-weight: bold;
}

#novo > h2 {
  font-family: 'android';
  color: #16693d;
  background-image: linear-gradient(to right, #c5ebd6, #97f0c00b);
}

.imagem-criadora-logo {
  text-align: center;
}

.imagem-novologotipo > img {
  width: 300px;
}

.imagem-novologotipo {
  text-align: center;
}

.video-android {
  background-color: #175333;
  padding: 10px;
  text-align: center;
}

.video-android iframe {
  padding: 10px;
}

#curiosidade {
  background-color: #3ddc84;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px rgb(0 0 0 / 28%);
}

#curiosidade h3 {
  background-color: #063d1e;
  color: white;
  padding: 10px;
  margin: -10px -10px 0px -10px;
  border-radius: 10px 10px 0px 0px;
}

.texto-curiosidade {
  text-align: justify;
  text-indent: 30px;
  margin: 15px 0px;
}

.texto-curiosidade2 {
  text-align: justify;
  padding: 10px;
  text-indent: 30px;
}
